{% extends 'base.html.twig' %}

{% block title %}Paris ticket - Salles{% endblock %}

{% block body %}

    <div class="fondnoir"></div>
    <div class="box">
        <h1>Liste des salles</h1>
    </div>

    <div class="cardlist">

        {% for Salles in salles  %}
            <div class="card">
                <img src="{{ asset("img/salles/#{Salles.getImg()}") }}" alt="{{Salles.getNom()}}"/>
                <div class="textcard">
                    <span class="titremanif">{{ Salles.getNom() }}</span>
                    <span class="prixmanif">{{ Salles.getCapacite() }} places</span>
                </div>
                <div class="boutons">
                    <a class="eventsbouton" href="{{ path('salles_show', {'id': Salles.id}) }}">voir plus</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
