{% extends 'base.html.twig' %}

{% block title %}Paris Ticket - Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="fondnoir"></div>
    <div class="box">
        <h1>Bienvenue sur Paris Ticket</h1>
    </div>
    <section class="meilleures">
        <h1>MEILLEURES VENTES DE LA SEMAINE</h1>
        <div class="ventessemaine">
            <img src="{{ asset("img/mascarade.jpg") }}" alt="Mascarade">
            <img src="{{ asset("img/blackadam.jpg") }}" alt="Black Adam">
            <img src="{{ asset("img/novembre.jpg") }}" alt="Novembre">
            <img src="{{ asset("img/smile.jpg") }}" alt="Smile">
        </div>
    </section>

    <div class="fondnoir2">
        <h1>Ce que nous proposons</h1>
        <div class="propose">
            <div class="boxpropose">Spectacles</div>
            <div class="boxpropose">Cinéma</div>
            <div class="boxpropose">Expositions</div>
            <div class="boxpropose">Théâtre</div>
        </div>
    </div>
    <section class="incontournables">
        <h3>Les incontournables</h3>
    </section>
</div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('js/general.js') }}"></script>
{% endblock %}
