{% extends 'base.html.twig' %}

{% block title %}Hello ManifsController!{% endblock %}

{% block body %}
<style>

</style>
    <section class="all_manifs">
        {% for Manifs in manifs %}
            <div class="manifs">
                <img src="{{ asset("/img/#{Manifs.getAffiche()}") }}" alt="{{Manifs.getTitre}}"/>
                <p>{{ Manifs.getDate() | date('d-m-Y') }}</p>
                <p>{{ Manifs.getTitre() }}</p>
                <p>{{ Manifs.getGenre() }}</p>
                <p>{{ Manifs.getLieu() }}</p>
            </div>
        {% endfor %}
    </section>
{% endblock %}
