{% extends 'base.html.twig' %}

{% block title %}Paris ticket - Evenements{% endblock %}

{% block body %}
<div class="fondnoir"></div>
<div class="box">
    <h1>Liste des évènements</h1>
</div>
    <div class="cardlist">

        {% for Manifs in manifs %}
        <div class="card">
            <img src="{{ asset("img/#{Manifs.getAffiche()}") }}" alt="{{Manifs.getTitre}}"/>
        <div class="textcard">
            <span class="titremanif">{{ Manifs.getTitre() }}</span>
            <span class="prixmanif">{{ Manifs.getTarif() }}</span>
        </div>
            <div class="boutons">
                <div class="genre">{{ Manifs.getGenre() }}</div>
                <a class="eventsbouton" href="{{ path('manifs_show', {'id': Manifs.id}) }}">voir plus</a>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
