{% extends 'base.html.twig' %}

{% block title %}Paris ticket - Evenements{% endblock %}

{% block body %}

    <h1>Liste des évènements</h1>
    <div class="cardlist">

        {% for Manifs in manifs %}
        <div class="card">
            <div class="genre">{{ Manifs.getGenre() }}</div>
            <img src="{{ asset("img/#{Manifs.getAffiche()}") }}" alt="{{Manifs.getTitre}}"/>
        <div class="textcard">
            <span class="titremanif">{{ Manifs.getTitre() }}</span>
            <span class="prixmanif">{{ Manifs.getTarif() }}</span>
        </div>
            <a class="bouton" href="{{ path('manifs_show', {'id': Manifs.id}) }}">Je réserve</a>
        </div>
        {% endfor %}

    </div>

{% endblock %}
