{% extends 'base.html.twig' %}

{% block title %}Hello ManifsController!{% endblock %}

{% block body %}
<style>

</style>

    <h1>Liste des évènements</h1>
    <div class="cardlist">

        {% for Manifs in manifs %}
        <div class="card">
            <img src="{{ asset("img/#{Manifs.getAffiche()}") }}" alt="{{Manifs.getTitre}}"/>
        <div class="textcard">
            <span class="datemanif">{{ Manifs.getDate() | date('d-m-Y') }}</span>
            <span class="titremanif">{{ Manifs.titre }}</span>
            <span class="prixmanif">{{ Manifs.getGenre() }}</span>
            <span class="lieumanif">{{ Manifs.getLieu() }}</span>
        </div>
            <a class="bouton" href="{{ path('manifs_show', {'id': Manifs.id}) }}">Je réserve</a>
        </div>
        {% endfor %}

    </div>

{% endblock %}
