{% extends 'base.html.twig' %}

{% block title %}{{ manifs.getTitre }}{% endblock %}

{% block body %}

    <div class="cardlist">

            <div class="card">
                <img src="{{ asset("img/#{manifs.getAffiche()}") }}" alt="{{manifs.getTitre}}"/>
                <div class="textcard">
                    <span class="datemanif">{{ manifs.getDate() | date('d-m-Y') }}</span>
                    <span class="titremanif">{{ manifs.getTitre() }}</span>
                    <span class="prixmanif">{{ manifs.getTarif() }}</span>
                    <span class="lieumanif">{{ manifs.getLieu() }}</span>

                </div>
                <button class="bouton">Ajouter au panier</button>
            </div>

    </div>

{% endblock %}
